body {
  margin: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;

  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

main {
  flex-grow: 1;
}

article {
  position: absolute;
  z-index: 1;

  width: 100vw;
  height: 100vh;

  background: pink;
}
