<template id="template-nav">
  <div class="toggle">
    <input type="checkbox" id="toggle-nav" autocomplete="off" />
  </div>
  <ul id="entries">
    <li>One</li>
    <li>One 2</li>
  </ul>
</template>

<style>
  diary-nav {
    width: calc(40px + 4px + 4px);
    height: calc(40px + 4px + 4px);

    position: absolute;
    z-index: 10;

    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;

    transition: width 0.5s ease, height 0.1s ease;
  }

  diary-nav.open {
    width: 100vw;
    height: 100vh;
  }

  diary-nav .toggle {
    display: flex;
    justify-content: flex-end;
    transition: background-color 0.5s ease;
  }

  diary-nav.open .toggle {
    background-color: darkblue;
  }

  diary-nav .toggle input[type="checkbox"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 4px;

    border-radius: 8px;
    background-color: #ffffffcc;
  }

  diary-nav .toggle input[type="checkbox"] {
    font-size: 12px;
  }

  diary-nav .toggle input[type="checkbox"]:checked::after {
    content: "close";
  }

  diary-nav .toggle input[type="checkbox"]:not(:checked)::after {
    content: "menu";
  }

  diary-nav ul {
    flex-grow: 1;
    overflow: scroll;
    margin: 0;
    padding: 0;
    list-style: none;

    background: gold;
  }
</style>
